In [2]:
from rdkit import Chem
import pandas as pd
import numpy as np
from sympy import Polygon
from rcm import area


from importlib import reload
import py3Dmol
import rcm
file_path_connectivity_table = 'cp6t6_0p_blyp35_geom_connectivity_global.csv'
xyz_file_path = 'cp6t6_0p_blyp35_geom.xyz'

probably store xyz in pandas as x, y, z insted of numpy array. one can than easily add extra column of the B fileds associated

In [6]:
self = rcm.RCM(xyz_file_path,file_path_connectivity_table)
mol = self.mol
mol = Chem.RWMol(mol)
self.get_B(0,0,0)

(-1.9297356319691385e-05, 4.924808251306694e-06, -0.037606436140345104)

In [7]:
coords_3d = np.array([
            [ 0,  0, 0],
            [ 2,  0, 0],
            [ 2,  2, 0],
            [ 0,  2, 0],
            [ 0, -2, 0],
            [-2, -2, 0],
            [-5,  0, 0],
            ])

In [8]:
area.area_3d(coords_3d)

(10, 10, -3.0)

In [9]:
no_split_path = self.conn.current_weight == 1
print(sum(no_split_path))

30

In [10]:
self.conn

     current_weight  start  end
0              0.50     79   81
1              0.25     81   85
2              0.25     85   93
3              0.25     93   95
4              0.25     81   86
..              ...    ...  ...
193            1.00     80   78
194            1.00     78   76
195            1.00     76   75
196            1.00     75   77
197            1.00     77   79

[198 rows x 3 columns]

In [16]:
# a.conn.current_weight

# find first occurence of the connection point with weight 1
# current_index = int(a.conn.loc[a.conn.current_weight == 1, ::].index[0])
# current_index = int(self.conn.loc[.conn.current_weight == 1, ::].index[0])
current_index = int(self.conn.loc[self.conn.loc[self.conn.current_weight == 1, ::].index[0],'end'])

print(current_index)


# # temp_index = int(df_temp.iloc[0,::].end)

index_depo = []
index_depo.append(current_index)
while len(index_depo) < 4:

    current_index = int(self.conn.loc[self.conn.loc[self.conn.current_weight == 1, ::].index[0],'start'])

    index_depo.append(current_index)
    pass


print(index_depo)
# while len(index_depo) < 4:
#                     int(a.conn.loc[a.conn.start == current_index, ::].index[0])
#     current_index = int(df_temp.loc[df_temp.start == temp_index,'end'])
#     current_index.append(temp_index)

139
[139, 139, 139, 139]

In [19]:
self.conn.loc[(self.conn.current_weight == 1) , ::].index[0]

139

In [14]:
a.conn.loc[a.conn.current_weight == 1, ::]

     current_weight  start  end
28              1.0    129  139
29              1.0    139  147
30              1.0    147   65
31              1.0     65   59
32              1.0     59   53
61              1.0     57   63
62              1.0     63   70
63              1.0     70   37
64              1.0     37   36
65              1.0     36   16
94              1.0     32   34
95              1.0     34   35
96              1.0     35  222
97              1.0    222  219
98              1.0    219  214
127             1.0    188  187
128             1.0    187  186
129             1.0    186  185
130             1.0    185  182
131             1.0    182  177
160             1.0    151  150
161             1.0    150  149
162             1.0    149  148
163             1.0    148  144
164             1.0    144  134
193             1.0     80   78
194             1.0     78   76
195             1.0     76   75
196             1.0     75   77
197             1.0     77   79

In [ ]:
df_temp = a.conn.loc[no_split_path,::]

In [ ]:
df_temp.iloc[0,::].start

In [ ]:
df_temp.iloc[0,::].end

In [85]:
temp_index_depo = []

temp_index = int(df_temp.iloc[0,::].end)
temp_index_depo.append(temp_index)

while len(temp_index_depo) < 20:
    temp_index = int(df_temp.loc[df_temp.start == temp_index,'end'])
    temp_index_depo.append(temp_index)

TypeError: cannot convert the series to <class 'int'>

In [86]:
temp_index

53

In [87]:
temp_index_depo

[139, 147, 65, 59, 53]

In [88]:
df_temp.loc[df_temp.start == temp_index,'end']

Series([], Name: end, dtype: int64)

In [ ]:
# xyz_view = py3Dmol.view(
#     data=Chem.MolToMolBlock(mol), 
#     style={"stick": {}, "sphere": {"scale": 0.25}},
#     width=400,height=400,
#     )
# xyz_view.zoomTo()

In [ ]:
# #Calculate area
# import pyny3d.geoms as pyny

# coords_3d = np.array([
#                     [0,  0, 0],
#                     [2,  0, 0],
#                     [2,  0, 2],
#                     [0,  0, 2]
#                     ])
# polygon = pyny.Polygon(coords_3d)
# print(f'Area is : {polygon.get_area()}')